<header>
  <div class="logo">
    <a href="index.html"
      ><img class="logo-img" src="images/ACTech-logo.png" alt="logo image"
    /></a>
    <div class="logo-text">ACTech</div>
  </div>

  <nav class="nav">
    <ul>
      <li>
        <a href="index.html"> Home </a>
      </li>
      <li>
        <a href="about.html"> About </a>
      </li>
      <li>
        <a href="blogs.html"> Blogs </a>
      </li>
      <li>
        <a href="contact.html"> Contact </a>
      </li>
      <li>
        <a href="services.html"> Services </a>
      </li>
    </ul>
  </nav>

  <nav class="menu">
    <div class="menu-bar">
      <div class="menu-bar-line"></div>
      <div class="menu-bar-line"></div>
      <div class="menu-bar-line"></div>
    </div>

    <ul>
      <li>
        <a href="index.html"> <div>Home</div> </a>
      </li>
      <li>
        <a href="about.html"> <div>About</div> </a>
      </li>
      <li>
        <a href="blogs.html"> <div>Blogs</div> </a>
      </li>
      <li>
        <a href="contact.html"> <div>Contact</div></a>
      </li>
      <li>
        <a href="services.html"> <div>Services</div></a>
      </li>
    </ul>
  </nav>
</header>
