<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu-bar</title>
    <link rel="stylesheet" href="menu-bar.css" />
    <script src="menu-bar.js" defer></script>
  </head>
  <body>
    <style>
      .menu-bar {
        width: 100px;
        border-radius: 20px;
      }
      .menu-bar-line {
        background-color: #333;
      }
    </style>

    <div class="menu-bar">
      <div class="menu-bar-line"></div>
      <div class="menu-bar-line"></div>
      <div class="menu-bar-line"></div>
    </div>
  </body>
</html>
