:root {
  --animation-duration: 0.5s;
  --menu-bar-width: 50px;
}

/*closed menu bar*/
.menu-bar {
  aspect-ratio: 1/1;
  background-color: #eee;
  padding: calc((1 / 7) * var(--menu-bar-width));
  border-radius: calc(0.2 * var(--menu-bar-width));
  cursor: pointer;
}

.menu-bar .menu-bar-line {
  background-color: black;
  height: calc((1 / 7) * 100%);
  width: calc(100% - ((2 / 7) * 100%));
  position: absolute;
  border-radius: calc(var(--menu-bar-width) * 0.1);
  transition: all var(--animation-duration);
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-bar-line:nth-child(1) {
  top: calc((2 / 7) * var(--menu-bar-width));
}

.menu-bar-line:nth-child(2) {
  top: 50%;
}

.menu-bar-line:nth-child(3) {
  top: calc((5 / 7) * var(--menu-bar-width));
}

/*open menu bar*/
.menu-bar.open .menu-bar-line {
  top: 50%;
}

.menu-bar.open .menu-bar-line:nth-child(1) {
  animation: rotate-45 0.2s var(--animation-duration) 1 normal both;
}

.menu-bar.open .menu-bar-line:nth-child(2) {
  animation: disappear 0.2s 0.3s 1 normal both;
}

.menu-bar.open .menu-bar-line:nth-child(3) {
  animation: rotate-m45 0.2s var(--animation-duration) 1 normal both;
}

@keyframes disappear {
  100% {
    display: none;
  }
}

@keyframes rotate-45 {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
}

@keyframes rotate-m45 {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
}

.menu {
  display: none;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  padding-top: 4rem;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  background-color: rgba(2, 0, 11, 0.836);
  transition: 1s;
}

.menu-bar {
  width: 3rem;
  position: absolute;
  border-radius: 10px;
  right: 0.5rem;
  top: 0.5rem;
}

.menu-bar-line {
  background-color: #333;
}

.menu:has(> .menu-bar.open) {
  height: 100vh;
  width: 100%;
  padding-top: 5rem;
}

.menu ul {
  padding: 0 10vw;
}

.menu ul li {
  list-style-type: none;
  margin-bottom: 1rem;
  width: fit-content;
}

.menu ul li a div {
  background-color: var(--cl--4);
  width: 80vw;
  padding: 1rem;
  text-align: center;
}

.menu ul li a div:hover {
  background-color: var(--cl--3);
}

.menu:has(> .menu-bar.open) ul li a div {
  animation: menu-link-fade-in 1s both;
}

@keyframes menu-link-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  .nav {
    display: none;
  }

  .menu {
    display: block;
  }
}
